go 1.20

use (
	./basics/tourofgo-basics-constants
	./basics/tourofgo-basics-constantsnumeric
	./basics/tourofgo-basics-exports
	./basics/tourofgo-basics-forloop
	./basics/tourofgo-basics-forloopwhile
	./basics/tourofgo-basics-functions
	./basics/tourofgo-basics-functionsmultiple
	./basics/tourofgo-basics-functionsnamed
	./basics/tourofgo-basics-functionsparams
	./basics/tourofgo-basics-imports
	./basics/tourofgo-basics-packages
	./basics/tourofgo-basics-types
	./basics/tourofgo-basics-typesconversion
	./basics/tourofgo-basics-typesinference
	./basics/tourofgo-basics-variables
	./basics/tourofgo-basics-variablesinit
	./basics/tourofgo-basics-variablesshort
	./basics/tourofgo-basics-whileloop
	./basics/tourofgo-basics-zero
)
