go 1.20

use (
	./basics/tourofgo-basics-constants
	./basics/tourofgo-basics-constantsnumeric
	./basics/tourofgo-basics-exports
	./basics/tourofgo-basics-functions
	./basics/tourofgo-basics-functionsmultiple
	./basics/tourofgo-basics-functionsnamed
	./basics/tourofgo-basics-functionsparams
	./basics/tourofgo-basics-imports
	./basics/tourofgo-basics-packages
	./basics/tourofgo-basics-types
	./basics/tourofgo-basics-typesconversion
	./basics/tourofgo-basics-typesinference
	./basics/tourofgo-basics-variables
	./basics/tourofgo-basics-variablesinit
	./basics/tourofgo-basics-variablesshort
	./basics/tourofgo-basics-zero
	./flowcontrol/tourofgo-flowcontrol-defer
	./flowcontrol/tourofgo-flowcontrol-deferstack
	./flowcontrol/tourofgo-flowcontrol-exerloops
	./flowcontrol/tourofgo-flowcontrol-forever
	./flowcontrol/tourofgo-flowcontrol-forloop
	./flowcontrol/tourofgo-flowcontrol-forloopwhile
	./flowcontrol/tourofgo-flowcontrol-if
	./flowcontrol/tourofgo-flowcontrol-ifelse
	./flowcontrol/tourofgo-flowcontrol-ifshort
	./flowcontrol/tourofgo-flowcontrol-switch
	./flowcontrol/tourofgo-flowcontrol-switchnocond
	./flowcontrol/tourofgo-flowcontrol-switchorder
	./flowcontrol/tourofgo-flowcontrol-whileloop
	./methods/tourofgo-methods-errors
	./methods/tourofgo-methods-exererrors
	./methods/tourofgo-methods-exerimages
	./methods/tourofgo-methods-exerreaders
	./methods/tourofgo-methods-exerreadersrot13
	./methods/tourofgo-methods-exerstringers
	./methods/tourofgo-methods-functionspointers
	./methods/tourofgo-methods-images
	./methods/tourofgo-methods-interfaces
	./methods/tourofgo-methods-interfacesassert
	./methods/tourofgo-methods-interfacesempty
	./methods/tourofgo-methods-interfacesimpl
	./methods/tourofgo-methods-interfacesnil
	./methods/tourofgo-methods-interfacesnilvalues
	./methods/tourofgo-methods-interfacesswitch
	./methods/tourofgo-methods-interfacesvalue
	./methods/tourofgo-methods-methods
	./methods/tourofgo-methods-methodsfunc
	./methods/tourofgo-methods-methodsnonstruct
	./methods/tourofgo-methods-methodspointers
	./methods/tourofgo-methods-methodspointersind
	./methods/tourofgo-methods-methodspointersindrev
	./methods/tourofgo-methods-methodsreceiver
	./methods/tourofgo-methods-readers
	./methods/tourofgo-methods-stringer
	./moretypes/tourofgo-moretypes-arrays
	./moretypes/tourofgo-moretypes-exerfunctions
	./moretypes/tourofgo-moretypes-exermaps
	./moretypes/tourofgo-moretypes-exerslices
	./moretypes/tourofgo-moretypes-functionsclosure
	./moretypes/tourofgo-moretypes-functionsvalue
	./moretypes/tourofgo-moretypes-maps
	./moretypes/tourofgo-moretypes-mapsliteral
	./moretypes/tourofgo-moretypes-mapsliteralinference
	./moretypes/tourofgo-moretypes-mapsmutate
	./moretypes/tourofgo-moretypes-pointers
	./moretypes/tourofgo-moretypes-range
	./moretypes/tourofgo-moretypes-rangeskip
	./moretypes/tourofgo-moretypes-slices
	./moretypes/tourofgo-moretypes-slicesappend
	./moretypes/tourofgo-moretypes-slicesdefault
	./moretypes/tourofgo-moretypes-sliceslencap
	./moretypes/tourofgo-moretypes-slicesliteral
	./moretypes/tourofgo-moretypes-slicesmake
	./moretypes/tourofgo-moretypes-slicesnil
	./moretypes/tourofgo-moretypes-slicesofslice
	./moretypes/tourofgo-moretypes-slicesreference
	./moretypes/tourofgo-moretypes-structfields
	./moretypes/tourofgo-moretypes-structliterals
	./moretypes/tourofgo-moretypes-structpointers
	./moretypes/tourofgo-moretypes-structs
)
