go 1.20

use (
	./basics/tourofgo-basics-exports
	./basics/tourofgo-basics-functions
	./basics/tourofgo-basics-functionsmultiple
	./basics/tourofgo-basics-functionsnamed
	./basics/tourofgo-basics-functionsparams
	./basics/tourofgo-basics-imports
	./basics/tourofgo-basics-packages
	./basics/tourofgo-basics-variables
)
